<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<h1>お薬チェッくん</h1>
	</header>
	<h1>新規ユーザー登録</h1>

	<form action="/account" method="post">
		<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}" style="color: red"></li>
		</ul>
		<table border="1">
			<tr>
				<th>ユーザー名</th>
				<td>
					<input type="text" name="name" th:value="${name}" placeholder="例：田中太郎" class="textbox-2">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" placeholder="password" class="textbox-2">
				</td>
			</tr>
		</table>
		<button class="logbut">登録</button>

	</form>

</body>

</html>