<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="~{header}"></header>
	<h1>新規服薬登録</h1>

	<span th:text="${errorMList}" style="color: red"></span>
	<form action="/medicine/add" method="post">
		<table border="1" >
			<tr>
				<th>服薬名</th>
				<th>備考欄</th>
				<th>個数</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="name" placeholder="例：ビタミン剤" class="textbox-1">
				</td>
				<td>
					<input type="text" name="note" placeholder="例：食後1回1錠" class="textbox-1">
				</td>
				<td>
					<input type="text" name="count" placeholder="例：一度に飲む数" class="textbox-1">
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>

</body>

</html>