<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<h1>お薬チェッくん</h1>
	</header>
	<h2>ユーザーログイン</h1>
		<span th:text="${message}" style="color: red"></span><br>

		<table border="1">
			<form action="/login" method="post">
				<tr>
					<tb>ユーザー名：
					</tb>
					<tb>
						<input type="text" name="name" placeholder="ユーザー名" class="textbox-2"><br>
					</tb>
				</tr>
				<tr>
					<tb>パスワード：
					</tb>
					<tb>
						<input type="password" name="password" placeholder="パスワード" class="textbox-2"><br>
					</tb>
				</tr>
				<button class="logbut">ログイン</button><br>

				<a href="/account">新規ユーザー登録はこちら</a>
			</form>
		</table>

</body>

</html>