<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>服薬一覧</h1>
	[[${@account.name}]]さんがログイン中
	
	<table border="1">
		<tr>
			<th>No</th>
			<th>薬剤名</th>
			<th>個数</th>
			<th>服薬確認</th>
			<th>備考欄</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="medic:${medicine}">
			<td th:text="${medic.id}"></td>
			<td th:text="${medic.name}"></td>
			<td th:text="${medic.count}"></td>
			<td th:text="${medic.note}"></td>
		</tr>
		
	</table>
</body>
</html>