<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="~{header}"></header>
	<div style="margin-bottom: 20px;" class="circle-area">
		<a th:href="@{/medicine(time='alltime')}" th:style="${currentTime == 'alltime'} ? 'font-weight:bold;' : ''"
			class="circle">全</a>
		<a th:href="@{/medicine(time='morning')}" th:style="${currentTime == 'morning'} ? 'font-weight:bold;' : ''"
			class="circle">朝</a>
		<a th:href="@{/medicine(time='daytime')}" th:style="${currentTime == 'daytime'} ? 'font-weight:bold;' : ''"
			class="circle">昼</a>
		<a th:href="@{/medicine(time='night')}" th:style="${currentTime == 'night'} ? 'font-weight:bold;' : ''"
			class="circle">晩</a>
	</div>

	<form th:action="@{/medicine/clear-all}" method="post">
		<button type="submit" style="margin-left: 720px;" class="clebut">確認クリア</button>
	</form>
	<table border="1">
		<tr>
			<th colspan="7">服用一覧</th>
		</tr>
		<tr>
			<th>No</th>
			<th>薬剤名</th>
			<th>個数</th>
			<th>服薬確認</th>
			<th>備考欄</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="medic : ${medicine}" th:if="${medic.mCheck == false}">
			<td th:text="${medic.id}"></td>
			<td th:text="${medic.name}"></td>
			<td th:text="${medic.count}"></td>
			<td>
				<form th:action="@{/medicine/{id}/check(id=${medic.id})}" method="post">
					<input type="checkbox" name="mCheck" value="true" onchange="this.form.submit()" class="checkboxItem">
					服薬済
				</form>
			</td>
			<td th:text="${medic.note}"></td>
			<td>
				<form th:action="@{/medicine/{id}/edit(id=${medic.id})}" method="get">
					<button class="submit">更新</button>
				</form>
			</td>
			<td>
				<form th:action="@{/medicine/{id}/delete(id=${medic.id})}" method="post">
					<button class="submit">削除</button>
				</form>
			</td>
		</tr>
	</table>
	<div class="button_solid004">
		<a href="/medicine/add">お薬の追加</a>
	</div>
	<!--	<a href="/medicine/add">薬の追加</a>-->
	<input type="hidden">
	<table border="1" input type="hidden">
		<tr>
			<th colspan="7">服用一覧</th>
		</tr>
		<tr>
			<th>No</th>
			<th>薬剤名</th>
			<th>個数</th>
			<th>服薬確認</th>
			<th>備考欄</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="medic : ${medicine}" th:if="${medic.mCheck == true}">
			<td th:text="${medic.id}"></td>
			<td th:text="${medic.name}"></td>
			<td th:text="${medic.count}"></td>
			<td>
				<form th:action="@{/medicine/{id}/check(id=${medic.id})}" method="post">

					<input type="checkbox" name="mCheck" value="true" checked onchange="this.form.submit()">
					服薬済
				</form>
				<!-- medicineに保存されているmTimeを表示するコード -->
				<span th:text="${medic.mTime}"></span>
			</td>
			<td th:text="${medic.note}"></td>
			<td>
				<form th:action="@{/medicine/{id}/edit(id=${medic.id})}" method="get">
					<button class="submit">更新</button>
				</form>
			</td>
			<td>
				<form th:action="@{/medicine/{id}/delete(id=${medic.id})}" method="post">
					<button class="submit">削除</button>
				</form>
			</td>
		</tr>
	</table>
</body>
<script>
	function clearAll() {
		// name属性が "fruit" のチェックボックスをすべて取得
		const checkboxes = document.querySelectorAll('input[name="mCheck"]');

		// ループしてチェックを外す
		checkboxes.forEach((checkbox) => {
			checkbox.checked = false;
		});
	}
</script>

</html>